# Copy this file to .env and fill in your values
# cp .env.example .env

POSTGRES_DB=mfp_data
POSTGRES_USER=mfp_user
POSTGRES_PASSWORD=1234567890

GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=1234567890

GRAFANA_URL=http://localhost/grafana
SERVER_NAME=localhost
